<div class="container">

  <div class="join">
  <form id="sign-in" method="post" action="/sign-up">
    <label class="label" for="username">Username</label>
    <input type="text" name="username" placeholder="e.g., username"><br>
    <label class="label" for="password">Password</label>
    <input type="password" name="password" placeholder="6 or more characters"><br>
    <label class="label" for="firstname">First Name</label>
    <input type="text" name="firstname">
    <br>
    <label class="label" for="lastname">Last Name</label>
    <input type="text" name="lastname">
    <br>
     <label class="label" for="email">Email</label>
    <input type="text" name="email">
    <br>
     <label class="label" for="phone">Phone</label>
    <input type="text" name="phone">
    <br>
    <label class="label" for="address">Address</label>
    <input type="text" name="address">
    <br>
   <label class="label" for="city">City</label>
    <input type="text" name="city">
     <br>
     <label class="label" for="state">State</label>
    <input type="text" name="state">
    <br>
    <label class="label" for="zip">Zip</label>
    <input type="text" name="zip">
    <br>
     <label class="label" for="rating">Rating</label>
    <input type="text" name="rating">
    <br>
    <input type="submit" value="Join">
 </div>
  </form>

  </div>

